{% extends 'base.html.twig' %}

{% block title %}{{ livre.titre }}{% endblock %}

{% block body %}
<h1>{{ livre.titre }}</h1>
<div class="row">
    <div class="col-12 col-md-3">
        {# On vérifie si le livre a des images #}
        {% if livre.images|length > 0 %}
            {# On affiche la première image #}
            <a href="{{ asset('images/livre/' ~ livre.images[0].imageName) }}" data-lightbox="{{ livre.titre }}">
            <img src="{{ asset('images/livre/' ~ livre.images[0].imageName) }}" alt="{{ livre.titre }}" class="img-fluid" id="img-big">
            </a>
            {# On vérifie s'il y a plus d'une image dans la collection #}
            {% if livre.images|length > 1 %}
                <div class="row justify-content-between">
                    {% for image in livre.images %}
                        {% if loop.index0 > 0 %}
                            <div class="img-30 mt-3 cursor-pointer">
                            <img src="{{ asset('images/livre/' ~ livre.images[loop.index0].imageName) }}" alt="" class="img-fluid">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-12 col-md-9">
        <div>{{ livre.description|raw }}</div>
        <div>
            <h2>Auteur(s)</h2>
            <ul>
            {% for auteur in livre.auteurs %}
            <li><a href="{{ path('app_front_auteur_show', {slug: auteur.slug}) }}">{{ auteur.auteurName }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div>Prix : {{ livre.prix|format_currency('EUR') }}</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
// On récupère les objets de classe cursor-pointer
$('.cursor-pointer').on('click', function(e){
    e.stopPropagation();
    // On récupère la valeur de l'attribut src de l'image cliquée
    let itemSource = $(this).find('img').attr('src');
    // On récupère la valeur de l'attribut src de la grande image
    let currentSource = $('#img-big').attr('src');
    // On remplace l'attribut src de la grande image par celui de celle cliquée et on remplace également l'attribut href de la balise a
    $("#img-big").attr('src', itemSource);
    $("#img-big").parent().attr("href", itemSource);
    // On charge le src de l'image cliquée
    $(this).find('img').attr('src', currentSource);
});
</script>
{% endblock %}
