{% extends 'base.html.twig' %}

{% block title %}La Librairie{% endblock %}

{% block body %}
<h1>{{ home.titre }}</h1>
{# On vérifie si on a des carousels #}
{% if carousels|length > 0 %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        {# On fait une boucle sur le tableau des carousels pour faire les indicators #}
        {% for carousel in carousels %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ loop.index }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for carousel in carousels %}
        <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
        <img src="{{ asset('images/carousel/' ~ carousel.imageName ) }}" class="d-block w-100" alt="...">
        {% if carousel.titre is not null or carousel.texte is not null %}
        <div class="carousel-caption d-none d-md-block">
            {% if carousel.titre is not null %}
            <h5>{{ carousel.titre }}</h5>
            {% endif %}
            {% if carousel.texte is not null %}
            <p>{{ carousel.texte }}</p>
            {% endif %}
        </div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endif %}
{% if home.imageName is null %}
  <p class="mt-4">{{ home.texte }}</p>
  {% if home.signature is not null %}
  <p class="signature">{{ home.signature }}</p>
  {% endif %}
{% else %}
  <div class="row mt-4">
    <div class="col-12 col-md-3 order-2 order-md-1">
      <img src="{{ asset('images/home/' ~ home.imageName ) }}" class="img-fluid" alt="{{ home.titre }}">
    </div>
  </div>
{% endif %}
{% endblock %}