<form method="post" action="{{ path('app_admin_image_delete', {'id': image.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette image ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></button>
</form>
