{% extends 'base-backend.html.twig' %}

{% block title %}Modifier l'image{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_image_index') }}" class="btn btn-dark mb-3">Retour à la liste</a>
    <div class="d-flex justify-content-between align-items-center">
        <h1>Modifier l'image</h1>
        {{ include('admin_image/_delete_form.html.twig') }}
    </div>

    {{ include('admin_image/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
