{% extends 'base-backend.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-ceter">
        <h1>Image</h1>
        <a href="{{ path('app_admin_image_new') }}" class="btn btn-success">Nouveau</a>
    </div>

    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Mise à jour le </th>
                <th>RankOrder</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>
                    <a href="{{ asset('/images/livre/' ~ image.imageName) }}" data-lightbox="image.imageName">
                    <img src="{{ asset('/images/livre/' ~ image.imageName) }}" alt="image" class="img-list">
                    </a>
                </td>
                <td>{{ image.updatedAt ? image.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ image.rankOrder }}</td>
                <td>
                    {% include "admin_image/_delete_form.html.twig" %}
                    <a href="{{ path('app_admin_image_show', {'id': image.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_image_edit', {'id': image.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
