{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Image{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_image_index') }}" class="btn btn-dark mb-3">Retour à la liste</a>
    <h1>Nouvelle Image</h1>

    {{ include('admin_image/_form.html.twig') }}

    
{% endblock %}
