{% extends 'base-backend.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_categorie_index') }}" class="btn btn-dark btn-sm mb-3">Retour à la liste</a>

    <div class="d-flex justyfy-content-between align-items-centter">
        <h1>Modifier la catégorie</h1>
        {{ include('admin_categorie/_delete_form.html.twig') }}
    </div>

    {{ include('admin_categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
