{% extends 'base-backend.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Categorie</h1>
    <a href="{{ path('app_admin_categorie_new') }}" class="btn btn-success">Nouveau</a>
</div>


    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                {# <th>Description</th> #}
                <th>Image</th>
                <th>Mise à jour</th>
                <th>Active</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                {# <td>{{ categorie.description }}</td> #}
                <td>{{ categorie.imageName }}</td>
                <td>{{ categorie.updatedAt ? categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ categorie.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ categorie.slug }}</td>
                <td>
                    {% include 'admin_categorie/_delete_form.html.twig' %}
                    <a href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
