{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_categorie_index') }}" class="btn btn-dark btn-sm mb-3">Retour à la liste</a>
    <h1>Nouvelle Categorie</h1>

    {{ include('admin_categorie/_form.html.twig') }}

    
{% endblock %}
