{% extends 'base-backend.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ categorie.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ categorie.updatedAt ? categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ categorie.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ categorie.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_categorie_index') }}">back to list</a>

    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('admin_categorie/_delete_form.html.twig') }}
{% endblock %}
