{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Mon compte</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Mes informations</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="favoris-tab" data-bs-toggle="tab" data-bs-target="#favoris-tab-pane" type="button" role="tab" aria-controls="favoris-tab-pane" aria-selected="false">Mes favoris</button>
        </li>
    </ul>
    <div class="tab-content py-3" id="myTabContent">
        <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
        {{ form_start(form) }}
        {{ form_label(form.avatar, 'Votre avatar', { 'label_attr': { 'class' : "w-100" }}) }}
        {{ form_widget(form.avatar.imageFile) }}
        <div class="d-flex flex-wrap">
            <div class="col-12 col-md-4 pe-1">
            {{ form_label(form.email, 'Votre email', { 'label_attr': { 'class' : "w-100" }}) }}
            {{ form_widget(form.email) }}
            </div>
            <div class="col-12 col-md-4 px-1" >
            {{ form_label(form.plainPassword.first, '', { 'label_attr': { 'class' : "w-100" }}) }}
            {{ form_widget(form.plainPassword.first) }}
            {{ form_help(form.plainPassword) }}
            </div>
            <div class="col-12 col-md-4 ps-1">
            {{ form_label(form.plainPassword.second, '', { 'label_attr': { 'class' : "w-100" }}) }}
            {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
        <div class="d-flex flex-wrap">
            <div class="col-12 col-md-4 pe-1">
            {{ form_label(form.nom, 'Votre nom', { 'label_attr': { 'class': 'w-100'}}) }}
            {{ form_widget(form.nom) }}
            </div>
            <div class="col-12 col-md-4 px-1">
            {{ form_label(form.prenom, 'Votre prénom', { 'label_attr': { 'class': 'w-100'}}) }}
            {{ form_widget(form.prenom) }}
            </div>
            <div class="col-12 col-md-4 ps-1">
            {{ form_label(form.tel, 'Votre téléphone', { 'label_attr': { 'class': 'w-100'}}) }}
            {{ form_widget(form.tel) }}
            </div>
        </div>
        {{ form_label(form.adresse1, 'Votre adresse', { 'label_attr': { 'class': 'w-100'}}) }}
        {{ form_widget(form.adresse1) }}
        {{ form_label(form.adresse2, 'Complément d\'adresse', { 'label_attr': { 'class': 'w-100'}}) }}
        {{ form_widget(form.adresse2) }}
        <div class="d-flex flex-wrap">
            <div class="col-12 col-md-4 pe-1">
                {{ form_label(form.codePostal, 'Votre code postal', { 'label_attr': { 'class': 'w-100'}}) }}
                {{ form_widget(form.codePostal) }}
            </div>
            <div class="col-12 col-md-4 px-1">
                {{ form_label(form.ville, 'Votre ville', { 'label_attr': { 'class': 'w-100'}}) }}
                {{ form_widget(form.ville) }}
            </div>
            <div class="col-12 col-md-4 ps-1">
                {{ form_label(form.pays, 'Votre pays', { 'label_attr': { 'class': 'w-100'}}) }}
                {{ form_widget(form.pays) }}
            </div>
        </div>
        {{ form_widget(form.modifier) }}
        {{ form_end(form) }}
        </div>
        <div class="tab-pane fade" id="favoris-tab-pane" role="tabpanel" aria-labelledby="favoris-tab" tabindex="0">
            <div class="row">
                {% for favori in app.user.favoris %}
                {% set livre = favori.livre %}
                <div class="col-12 col-md-3 col-lg-2 d-flex align-items-stretch parent-card">
                    <div class="card">
                        {% if livre.images|length > 0 %}
                            {% set image = livre.images[0].imageName %}
                        {% else %}
                            {% set image = "default.webp" %}
                        {% endif %}
                        <img src="{{ asset('images/livre/' ~ image) }}" class="card-img-top" alt="{{ livre.titre }}">
                        <div class="card-body d-flex flex-wrap">
                            <h5 class="card-title">{{ livre.titre }}</h5>
                            <div class="align-self-end w-100">
                                <p class="card-text">{{ livre.prix|format_currency('EUR') }}</p>
                                <div class="d-flex flex-wrap justify-content-between w-100">
                                    <a href="{{ path('app_front_livre', {slug: livre.slug}) }}" class="btn btn-dark">Voir</a>
                                    <button class="btn btn-dark add-favori from-user-profil" data-livre-id="{{ livre.id }}"><i class="fa-solid fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
