<form method="post" action="{{ path('app_admin_home_delete', {'id': home.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce carousel ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></button>
</form>
