{% extends "base.html.twig" %}

{% block title %}{{ categorie.nom}}{% endblock %}

{% block body %}

<h1>{{ categorie.nom }}</h1>
    <div class="row">
        {% if categorie.imageName is not null %}
            {% set image = categorie.imageName %}
        {% else %}
            {% set image = "default.webp" %}
        {% endif %}
        <div class="col-12 col-md-3">
            <img src="{{ asset('images/categorie/' ~ image) }}" alt="Illustration de la catégorie {{ categorie.nom }}" class="img-fluid">
        </div>
        <div class="col-12 col-md-9">
        {% if categorie.description is not null %}
        {{ categorie.description|raw }}
        {% else %}
        <p>Il n'y a pas encore de description pour cette catégorie.</p>
        {% endif %}
        </div>
    </div>
<div class="d-flex flex-wrap justify-content-between align-items-center">
    <h2 class="mt-5">Nos livres </h2>
    <form  method="post" class="d-flex">
        <input type="search" name="search" class="form-control" required>
        <button type="submit" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

<div class="row">
{% for livre in categorie.livres %}
<div class="col-12 col-md-3 col-lg-2 d-flex align-items-stretch">
    <div class="card">
        {% if livre.images|length > 0 %}
            {% set image = livre.images[0].imageName %}
        {% else %}
            {% set image = "default.webp" %}
        {% endif %}
        <img src="{{ asset('images/livre/' ~ image) }}" class="card-img-top" alt="{{ livre.titre }}">
        <div class="card-body d-flex flex-wrap">
            <h5 class="card-title">{{ livre.titre }}</h5>
            <div class="align-self-end w-100">
                <p class="card-text">{{ livre.prix|format_currency('EUR') }}</p>
                <div class="d-flex flex-wrap justify-content-between w-100">
                    <a href="{{ path('app_front_livre', {slug: livre.slug}) }}" class="btn btn-dark">Voir</a>
                    {% if app.user is not null %}
                        {% set isInFavori = false %}
                        {% for favori in app.user.favoris %}
                            {% if favori.livre == livre %}
                            {% set isInFavori = true %}
                            {% endif %}
                        {% endfor %}
                        <button class="btn btn-dark add-favori" data-livre-id="{{ livre.id }}"><i class="{% if isInFavori == true %}fa-solid{% else %}fa-regular{% endif %} fa-heart"></i></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}