{% extends 'base.html.twig' %}

{% block title %}Nos auteurs{% endblock %}

{% block body %}
<h1>Nos auteurs</h1>
<div class="row">
{% for auteur in auteurs %}
{% set auteurName = "" %}
{% if auteur.pseudo is not null %}
{% set auteurName = auteur.pseudo %}
{% else %}
    {% if auteur.prenom is not null %}
    {% set auteurName = auteur.prenom ~ " " %}
    {% endif %}
    {% if auteur.nom is not null %}
    {% set auteurName = auteurName ~ auteur.nom %}
    {% endif %}
{% endif %}
<div class="col-12 col-md-3 d-flex align-items-stretch">
        <div class="card">
            {% set image = "default.webp" %}
            {% if auteur.imageName is not null %}
            {% set image = auteur.imageName %}
            {% endif %}
            <img src="{{ asset('images/auteur/' ~ image) }}" class="card-img-top" alt="{{ auteurName|trim }}">
            <div class="card-body d-flex justify-content-center">
                <div class="align-self-end text-center">
                    <h5 class="card-title">{{ auteurName|trim }}</h5>
                    <a href="{{ path('app_front_auteur_show', {'slug': auteur.slug }) }}" class="btn btn-dark">Voir</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
Aucun auteur dans la base de données.
{% endfor %}
</div>
{% endblock %}
