{% extends "base.html.twig" %}

{% block title %}{{ auteur.auteurName }}{% endblock %}

{% block body %}
<h1>{{ auteur.auteurName }}</h1>
<div class="row">
    <div class="col-12 col-md-3">
        {% set image = auteur.imageName %}
        {% if auteur.imageName is null %}
        {% set image = "default.webp" %}
        {% endif %}
        <img src="{{ asset('images/auteur/' ~ image) }}" alt="{{ auteur.auteurName }}" class="img-fluid">
    </div>
    <div class="col-12 col-md-9">
        <h2>Biographie</h2>
        {% if auteur.biographie is not null %}
        {{ auteur.biographie|raw }}
        {% else %}
        <p class="text-muted">Aucune biographie n'est disponible pour cet auteur.</p>
        {% endif %}
    </div>
</div>
<h2>Les livres de {{ auteur.auteurName }}</h2>
<div class="row">
{% for livre in auteur.livres %}
    <div class="col-6 col-md-3 ">
        <div class="p-3 mx-3 bg-secondary text-center rounded">
            <p>{{ livre.titre }}</p>
            {% if livre.images|length > 0 %}
            <img src="{{ asset('images/livre/' ~ livre.images[0].imageName) }}" alt="{{ livre.titre }}" class="img-fluid">
            {% else %}
            <img src="{{ asset('images/livre/default.webp') }}" alt="{{ livre.titre }}" class="img-fluid">
            {% endif %}
            <a href="{{ path('app_front_livre', {slug: livre.slug} ) }}" class="btn btn-dark mt-3">Voir</a>
        </div>    
    </div>
{% endfor %}
</div>
{% endblock %}