<form method="post" action="{{ path('app_admin_livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Etes vous de vouloir supprimer ce livre ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></button>
</form>
