{% extends 'base-backend.html.twig' %}

{% block title %}Modifier le livre{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_livre_index') }}" class="btn btn-dark mb-2">Retour à la liste</a>
    <div class="d-flex justify-content-between align-items-center">
        <h1>Modifier le livre</h1>
        {{ include('admin_livre/_delete_form.html.twig') }}
    </div>

    {{ include('admin_livre/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/image-upload.js')}}"></script>
<script src="{{ asset('js/add-item-link.js')}}"></script>
{% endblock %}
