{% extends 'base-backend.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Livre</h1>
    <a href="{{ path('app_admin_livre_new') }}" class="btn btn-success">Nouveau</a>
</div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                {# <th>Description</th> #}
                <th>Prix</th>
                <th>Active</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                {# <td>{{ livre.description }}</td> #}
                <td>{{ livre.prix }}</td>
                <td>{{ livre.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ livre.slug }}</td>
                <td>
                    {% include "admin_livre/_delete_form.html.twig" %}
                    <a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6"><div class="test-start">Aucune donnée trouvée</div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
