{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Livre{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_livre_index') }}" class="btn btn-dark mb-3">Retour à la liste</a>
    <h1>Nouveau Livre</h1>

    {{ include('admin_livre/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/image-upload.js')}}"></script>
<script src="{{ asset('js/add-item-link.js')}}"></script>
{% endblock %}

