{% extends 'base-backend.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livre.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ livre.prix }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ livre.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ livre.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_livre_index') }}">back to list</a>

    <a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}">edit</a>

    {{ include('admin_livre/_delete_form.html.twig') }}
{% endblock %}
