<form method="post" action="{{ path('app_admin_auteur_delete', {'id': auteur.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet auteur?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></button>
</form>
