{% extends 'base-backend.html.twig' %}

{% block title %}Modifier l'auteur{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_auteur_index') }}" class="btn btn-dark mb-3">Retour à la liste</a>
    
    <div class="d-flex justify-content-between align-items-center">
    <h1>Modifier l'auteur</h1>
    {{ include('admin_auteur/_delete_form.html.twig') }}
    </div>

    {{ include('admin_auteur/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}

{% block javascripts %}
<script>
$('.select2').select2();
</script>
{% endblock %}
