{% extends 'base-backend.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Auteurs</h1>
        <a href="{{ path('app_admin_auteur_new') }}" class="btn btn-success">Nouveau</a>
    </div>

    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                {# <th>Biographie</th> #}
                <th>Mise à jour</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>
                {% if auteur.imageName is not null %}
                <a href="{{ asset('images/auteur/' ~ auteur.imageName) }}" data-lightbox="{{ auteur.imageName }}">
                    <img src="{{ asset('images/auteur/' ~ auteur.imageName) }}" alt="" class="img-list">
                </a>
                {% endif %}
                </td>
                <td>{{ auteur.pseudo }}</td>
                <td>{{ auteur.nom }}</td>
                <td>{{ auteur.prenom }}</td>
                {# <td>{{ auteur.biographie }}</td> #}
                <td>{{ auteur.updatedAt ? auteur.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ auteur.slug }}</td>
                <td>
                    {% include 'admin_auteur/_delete_form.html.twig' %}
                    <a href="{{ path('app_admin_auteur_show', {'id': auteur.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_auteur_edit', {'id': auteur.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8"><div class="text-start">Aucune donnée trouvée</div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
