{% extends 'base-backend.html.twig' %}

{% block title %}Nouvel auteur{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_auteur_index') }}" class="btn btn-dark mb-3">Retour à la liste</a>
    <h1>Nouvel auteur</h1>

    {{ include('admin_auteur/_form.html.twig') }}

    
{% endblock %}


{% block javascripts %}
<script>
$('.select2').select2();
</script>
{% endblock %}
