{% extends 'base-backend.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>Auteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ auteur.pseudo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ auteur.prenom }}</td>
            </tr>
            <tr>
                <th>Biographie</th>
                <td>{{ auteur.biographie }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ auteur.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ auteur.updatedAt ? auteur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ auteur.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_auteur_index') }}">back to list</a>

    <a href="{{ path('app_admin_auteur_edit', {'id': auteur.id}) }}">edit</a>

    {{ include('admin_auteur/_delete_form.html.twig') }}
{% endblock %}
