<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{{ path('app_admin_dashboard') }}">
            <span class="align-middle">
                Admin La Libraire
            </span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('app_home') }}" target="_blank">
                    <i class="align-middle" data-feather="globe"></i>
                    <span class="align-middle">
                        Voir le site
                    </span>
                </a>
            </li>
            <li class="sidebar-item {{ dashboardActive }}">
                <a class="sidebar-link" href="{{ path('app_admin_dashboard') }}">
                    <i class="align-middle" data-feather="sliders"></i>
                    <span class="align-middle">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="sidebar-header">Contenus</li>
            <li class="sidebar-item {{ homeActive }}">
                <a class="sidebar-link" href="{{ path('app_admin_home_index') }}">
                    <i class="align-middle" data-feather="home"></i>
                    <span class="align-middle">
                        Home
                    </span>
                </a>
            </li>
            <li class="sidebar-item {{ carouselActive }}">
                <a class="sidebar-link" href="{{ path('app_admin_carousel_index') }}">
                    <i class="align-middle" data-feather="image"></i>
                    <span class="align-middle">
                        Carousel
                    </span>
                </a>
            </li>
            <li class="sidebar-item {{ categorieActive }}">
                <a class="sidebar-link" href="{{ path('app_admin_categorie_index') }}">
                    <i class="align-middle" data-feather="bookmark"></i>
                    <span class="align-middle">
                        Catégories
                    </span>
                </a>
            </li>
            <li class="sidebar-item {{ livreActive }}">
                <a class="sidebar-link" href="{{ path('app_admin_livre_index') }}">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">
                        Livres
                    </span>
                </a>
            </li>
            <li class="sidebar-item {{ imageActive }}">
                <a class="sidebar-link" href="{{ path('app_admin_image_index') }}">
                    <i class="align-middle" data-feather="image"></i>
                    <span class="align-middle">
                        Images
                    </span>
                </a>
            </li>
            <li class="sidebar-item {{ auteurActive }}">
                <a class="sidebar-link" href="{{ path('app_admin_auteur_index') }}">
                    <i class="align-middle" data-feather="pen-tool"></i>
                    <span class="align-middle">
                        Auteurs
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
